---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const contentEntries = await getCollection("content");
---

<BaseLayout title="Home">
  <h1>Welcome to my Digital Garden</h1>
  <p>Here are my notes:</p>
  <ul>
    {
      contentEntries.map((entry) => (
        <li>
          <a href={`/${entry.id}`}>{entry.id}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
